<h1>Task no. <%= @task.id %></h1>
<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<% completed = @task.completed? ? "Done" : "Not done yet" %>
<p><%= completed %></p>
<%= link_to "Edit task", edit_path(@task)  %>
<%= link_to "Back to list", tasks_path  %>
